[submodule "vim/.vim/bundle/vim-colorschemes"]
	path = vim/.vim/bundle/vim-colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "vim/.vim/bundle/vim-gitgutter"]
	path = vim/.vim/bundle/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "vim/.vim/bundle/vim-golang"]
	path = vim/.vim/bundle/vim-golang
	url = git@github.com:jnwhiteh/vim-golang.git
[submodule "vim/.vim/bundle/vim-dart"]
	path = vim/.vim/bundle/vim-dart
	url = git@github.com:dart-lang/dart-vim-plugin.git
[submodule "vim/.vim/bundle/vim-elm"]
	path = vim/.vim/bundle/vim-elm
	url = git@github.com:lambdatoast/elm.vim.git
[submodule "vim/.vim/bundle/goyo"]
	path = vim/.vim/bundle/goyo
	url = git@github.com:junegunn/goyo.vim.git
[submodule "vim/.vim/bundle/vim-markdown"]
	path = vim/.vim/bundle/vim-markdown
	url = git@github.com:plasticboy/vim-markdown.git
